body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background: url("assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
}

/* CENTER LOGIN */
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GLASS DESIGN */
.glass-box, .glass-card, .glass-header {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.5);
}

/* LOGIN BOX */
.glass-box {
  padding: 30px;
  width: 300px;
  text-align: center;
}

/* LOGO */
.logo {
  width: 130px;
  display: block;
  margin: 0 auto 15px auto;
  filter: drop-shadow(0 0 10px lime);
}

/* HEADER */
.glass-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  margin: 10px;
}

.logo-small {
  width: 40px;
}

/* DASHBOARD */
.hidden {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  flex-wrap: wrap;
}

/* CARD */
.glass-card {
  padding: 20px;
  width: 250px;
  text-align: center;
}

/* BUTTONS */
.btn {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;

  background: rgba(255,255,255,0.15);
  color: white;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.3);
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.green {
  border-color: lime;
}

.red {
  border-color: red;
}
